/*
Theme Name: Septera Child
Theme URI: https://wp-themes.com/septera
Author: Alex
Description: My WordPress Septera child theme.
Template: septera
License: GNU General Public License v3
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Version: 1.0.0
Text Domain: septera-child
*/
